@model Web_Cinema_App.Models.TicketModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить </h1>

<h4>TicketModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSession" class="control-label">Сеанс</label>
                <input asp-for="IdSession" class="form-control" />
                <span asp-validation-for="IdSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPlace" class="control-label">Номер места</label>
                <input asp-for="IdPlace" class="form-control" />
                <span asp-validation-for="IdPlace" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> Статус
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться обратно</a>
</div>

