@model IEnumerable<Web_Cinema_App.Models.CinemaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Кинотеатры</h1>

<p>
    <a asp-action="Create">Добавить кинотеатр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Номера кинотеатров</th>
            <th>Кинотеатры</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCinema)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить название</a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
