@using Web_Cinema_App.Controllers
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="Cinema" asp-action="Index">Кинотеатры</a>

<a asp-controller="CinemaRoom" asp-action="Index">Залы в кинотеатрах</a>

<a asp-controller="Film" asp-action="Index">Фильмы</a>

<a asp-controller="Genre" asp-action="Index">Жанры</a>

<a asp-controller="Place" asp-action="Index">Места</a>

<a asp-controller="Ticket" asp-action="Index">Билеты</a>

<a asp-controller="Session" asp-action="Index">Сеансы</a>

@await Html.PartialAsync("../Cinema/Index");
