@model Web_Cinema_App.Models.PlaceModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите исключить это место?</h3>
<div>
    <h4>PlaceModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Кинозал
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRoom)
        </dd>
        <dt class = "col-sm-2">
            Номер места
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            Номер ряда
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Row)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться обратно</a>
    </form>
</div>
